NVOIP_BASE_URL=https://api.nvoip.com.br/v3
NVOIP_OAUTH_TOKEN_URL=https://api.nvoip.com.br/auth/oauth2/token
NVOIP_OAUTH_SCOPE=
NVOIP_OAUTH_CLIENT_ID=
NVOIP_OAUTH_CLIENT_SECRET=
NVOIP_VERIFY_FLOW=otp
NVOIP_ALLOWED_CHANNELS=sms,voice
NVOIP_DEMO_PHONE=
NVOIP_EXPOSE_DEMO_PHONE=false
NVOIP_WHATSAPP_TEMPLATE_ID=
NVOIP_WHATSAPP_INSTANCE=
NVOIP_WHATSAPP_LANGUAGE=pt_BR
HOST=localhost
PORT=3333
